@font-face {  
    font-family : VmapPublic;  
    src : url('./VMapPublic.ttf'); 
}  
body{
  margin:20px 20px 20px 20px;
  background-color: #EEEEEE;
}
a{
  color: blue;
  cursor: pointer;
}
p{
  color: blue;
  cursor: default;
}
li,h2,h1{
    text-align: center;
    cursor: default;
}
h2{
    font-size: 300%;
    height: 80px;
}
td{
  font-size: 150%;
  color: blue;
  height: 80px;
  line-height: 80px;
  border-radius: 25px ;
}
#div_title{
  /*title*/
  width:100%;
  height: 200px;
  line-height: 200px;
  font-size: 500%;
  text-align:center;
  background-image: url('../img/1.png');
}
#div_tab{
  /*想给div添加一个底边框*/
  height:120px;
  line-height: 120px;
  /*
  border-style: none;
  border-bottom-style: double 3px black;
  */
  border:none;
  border-bottom: double 3px black;
}
#div_tab li
{
  float: left;
  width: 50%;
  height: 120px;
  line-height: 120px;
  background: #efefef;
  text-align: center;
  display: block;
}
#div_tab li.active{
  background-color: white;
}
#l_01,#l_02{
  width: 50%;
  height: 100px;
  font-size: 350%;
  text-align: center;
}
#map{
  height: 650px;
  width: 600px;
  border:5px dashed #66AA55;
  overflow: hidden;
}
#big,#small,#haha,#cl,#prev,#next{
  height:90px;
  width: 180px;
}
/*第一级目录*/
#l_11,#l_13,#l_15,#l_17,#l_19,#l_111,#l_113,
#l_21,#l_51,#l_53,
#l_61,#l_63,#l_65,#l_67,#l_69,#l_610{
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-color: #3399FF;//不同颜色
    font-weight: 900;
    font-size: 250%;
    color: black;
    display: block;
    opacity: 0.5;
    border-radius: 25px ;
}

#l_12,#l_14,#l_16,#l_18,#l_110,#l_112,#l_114,#l_22,
#l_52,#l_54,#l_62,#l_64,#l_66,#l_68,#l_611{
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-color: #99FF00;
    font-weight: 900;
    font-size: 250%;
    color: black;
    display: block;
    opacity: 0.5;
    border-radius: 25px ;
}
/*第二级目录*/
#l_111,#l_112,#l_113,#l_511,#l_512,#l_513,{
    height: 80px;
    line-height: 80px;
    text-align: center;
}
#btn_1,#btn_2,#btn_3,#btn_4,#btn_5,#btn_6{
    font-size: 200%;
    height: 250px; 
    border-radius: 15px;   
}
#btn_11,#btn_21,#btn_31,#btn_41,#btn_51,#btn_61{
    width: 80px;
    height:80px;
    float: left;
}
#btn_11,#btn_21,#btn_31,#btn_41,#btn_51,#btn_61{  
    border:thin #336699 solid;
    border-radius: 100px;
    box-shadow: 5px 5px 10px gray;
    background-image: url('../img/4.jpg');
    background-repeat: no-repeat;
}
.btn_m{
  /*map_button*/
  width: 50px;
  height: 50px;
  border-radius: 100px;
  float: right;
  background-image: url('../img/5.jpg');
  background-repeat: no-repeat;

}
.btn_i{
  /*info_button*/
  width: 50px;
  height: 50px;
  border-radius: 100px;
  float: right;
  background-image: url('../img/6.jpg');
  background-repeat: no-repeat;
}
#myCarousel{
  top:980px;
  position: absolute;
}
h1, h2, h3, .masthead p, .subhead p, .marketing h2, .lead {font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei UI","Microsoft YaHei",SimHei,"宋体",simsun,sans-serif;font-weight: normal;text-align: center;}

